body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  font-size: 16px;
  border: solid white 10px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 9px;
  font-weight: 700;
}

.content {
  background: #e3f4ff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 10px;
}

.button-container {
  background: #e3f4ff;
  display: block;
  padding: 10px;
  text-align: center;

  
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}